body { font-family: Arial; background:#111; color:#fff; }
.login-box { width:300px; margin:100px auto; padding:20px; background:#222; }
input,button { width:100%; padding:10px; margin:5px 0; }
button { background:#00c853; border:none; color:#000; }
